.latte {
  --color-rosewater: #dc8a78;
  --color-rosewater-500: #dc8a78;
  --color-rosewater-400: rgb(222.85, 153.45, 138.75);
  --color-rosewater-300: rgb(225.7, 168.9, 157.5);
  --color-rosewater-200: rgb(228.55, 184.35, 176.25);
  --color-rosewater-100: rgb(231.4, 199.8, 195);
  --color-rosewater-50: rgb(234.25, 215.25, 213.75);
  --color-rosewater-600: rgb(187, 117.3, 102);
  --color-rosewater-700: rgb(154, 96.6, 84);
  --color-rosewater-800: rgb(121, 75.9, 66);
  --color-rosewater-900: rgb(88, 55.2, 48);
  --color-rosewater-950: rgb(55, 34.5, 30);
  --color-flamingo: #dd7878;
  --color-flamingo-500: #dd7878;
  --color-flamingo-400: rgb(223.7, 138.15, 138.75);
  --color-flamingo-300: rgb(226.4, 156.3, 157.5);
  --color-flamingo-200: rgb(229.1, 174.45, 176.25);
  --color-flamingo-100: rgb(231.8, 192.6, 195);
  --color-flamingo-50: rgb(234.5, 210.75, 213.75);
  --color-flamingo-600: rgb(187.85, 102, 102);
  --color-flamingo-700: rgb(154.7, 84, 84);
  --color-flamingo-800: rgb(121.55, 66, 66);
  --color-flamingo-900: rgb(88.4, 48, 48);
  --color-flamingo-950: rgb(55.25, 30, 30);
  --color-pink: #ea76cb;
  --color-pink-500: #ea76cb;
  --color-pink-400: rgb(234.75, 136.45, 209.3);
  --color-pink-300: rgb(235.5, 154.9, 215.6);
  --color-pink-200: rgb(236.25, 173.35, 221.9);
  --color-pink-100: rgb(237, 191.8, 228.2);
  --color-pink-50: rgb(237.75, 210.25, 234.5);
  --color-pink-600: rgb(198.9, 100.3, 172.55);
  --color-pink-700: rgb(163.8, 82.6, 142.1);
  --color-pink-800: rgb(128.7, 64.9, 111.65);
  --color-pink-900: rgb(93.6, 47.2, 81.2);
  --color-pink-950: rgb(58.5, 29.5, 50.75);
  --color-mauve: #8839ef;
  --color-mauve-500: #8839ef;
  --color-mauve-400: rgb(151.45, 84.6, 239.9);
  --color-mauve-300: rgb(166.9, 112.2, 240.8);
  --color-mauve-200: rgb(182.35, 139.8, 241.7);
  --color-mauve-100: rgb(197.8, 167.4, 242.6);
  --color-mauve-50: rgb(213.25, 195, 243.5);
  --color-mauve-600: rgb(115.6, 48.45, 203.15);
  --color-mauve-700: rgb(95.2, 39.9, 167.3);
  --color-mauve-800: rgb(74.8, 31.35, 131.45);
  --color-mauve-900: rgb(54.4, 22.8, 95.6);
  --color-mauve-950: rgb(34, 14.25, 59.75);
  --color-red: #d20f39;
  --color-red-500: #d20f39;
  --color-red-400: rgb(214.35, 48.9, 85.2);
  --color-red-300: rgb(218.7, 82.8, 113.4);
  --color-red-200: rgb(223.05, 116.7, 141.6);
  --color-red-100: rgb(227.4, 150.6, 169.8);
  --color-red-50: rgb(231.75, 184.5, 198);
  --color-red-600: rgb(178.5, 12.75, 48.45);
  --color-red-700: rgb(147, 10.5, 39.9);
  --color-red-800: rgb(115.5, 8.25, 31.35);
  --color-red-900: rgb(84, 6, 22.8);
  --color-red-950: rgb(52.5, 3.75, 14.25);
  --color-maroon: #e64553;
  --color-maroon-500: #e64553;
  --color-maroon-400: rgb(231.35, 94.8, 107.3);
  --color-maroon-300: rgb(232.7, 120.6, 131.6);
  --color-maroon-200: rgb(234.05, 146.4, 155.9);
  --color-maroon-100: rgb(235.4, 172.2, 180.2);
  --color-maroon-50: rgb(236.75, 198, 204.5);
  --color-maroon-600: rgb(195.5, 58.65, 70.55);
  --color-maroon-700: rgb(161, 48.3, 58.1);
  --color-maroon-800: rgb(126.5, 37.95, 45.65);
  --color-maroon-900: rgb(92, 27.6, 33.2);
  --color-maroon-950: rgb(57.5, 17.25, 20.75);
  --color-peach: #fe640b;
  --color-peach-500: #fe640b;
  --color-peach-400: rgb(251.75, 121.15, 46.1);
  --color-peach-300: rgb(249.5, 142.3, 81.2);
  --color-peach-200: rgb(247.25, 163.45, 116.3);
  --color-peach-100: rgb(245, 184.6, 151.4);
  --color-peach-50: rgb(242.75, 205.75, 186.5);
  --color-peach-600: rgb(215.9, 85, 9.35);
  --color-peach-700: rgb(177.8, 70, 7.7);
  --color-peach-800: rgb(139.7, 55, 6.05);
  --color-peach-900: rgb(101.6, 40, 4.4);
  --color-peach-950: rgb(63.5, 25, 2.75);
  --color-yellow: #df8e1d;
  --color-yellow-500: #df8e1d;
  --color-yellow-400: rgb(225.4, 156.85, 61.4);
  --color-yellow-300: rgb(227.8, 171.7, 93.8);
  --color-yellow-200: rgb(230.2, 186.55, 126.2);
  --color-yellow-100: rgb(232.6, 201.4, 158.6);
  --color-yellow-50: rgb(235, 216.25, 191);
  --color-yellow-600: rgb(189.55, 120.7, 24.65);
  --color-yellow-700: rgb(156.1, 99.4, 20.3);
  --color-yellow-800: rgb(122.65, 78.1, 15.95);
  --color-yellow-900: rgb(89.2, 56.8, 11.6);
  --color-yellow-950: rgb(55.75, 35.5, 7.25);
  --color-green: #40a02b;
  --color-green-500: #40a02b;
  --color-green-400: rgb(90.25, 172.15, 73.3);
  --color-green-300: rgb(116.5, 184.3, 103.6);
  --color-green-200: rgb(142.75, 196.45, 133.9);
  --color-green-100: rgb(169, 208.6, 164.2);
  --color-green-50: rgb(195.25, 220.75, 194.5);
  --color-green-600: rgb(54.4, 136, 36.55);
  --color-green-700: rgb(44.8, 112, 30.1);
  --color-green-800: rgb(35.2, 88, 23.65);
  --color-green-900: rgb(25.6, 64, 17.2);
  --color-green-950: rgb(16, 40, 10.75);
  --color-teal: #179299;
  --color-teal-500: #179299;
  --color-teal-400: rgb(55.4, 160.25, 166.8);
  --color-teal-300: rgb(87.8, 174.5, 180.6);
  --color-teal-200: rgb(120.2, 188.75, 194.4);
  --color-teal-100: rgb(152.6, 203, 208.2);
  --color-teal-50: rgb(185, 217.25, 222);
  --color-teal-600: rgb(19.55, 124.1, 130.05);
  --color-teal-700: rgb(16.1, 102.2, 107.1);
  --color-teal-800: rgb(12.65, 80.3, 84.15);
  --color-teal-900: rgb(9.2, 58.4, 61.2);
  --color-teal-950: rgb(5.75, 36.5, 38.25);
  --color-sky: #04a5e5;
  --color-sky-500: #04a5e5;
  --color-sky-400: rgb(39.25, 176.4, 231.4);
  --color-sky-300: rgb(74.5, 187.8, 233.8);
  --color-sky-200: rgb(109.75, 199.2, 236.2);
  --color-sky-100: rgb(145, 210.6, 238.6);
  --color-sky-50: rgb(180.25, 222, 241);
  --color-sky-600: rgb(3.4, 140.25, 194.65);
  --color-sky-700: rgb(2.8, 115.5, 160.3);
  --color-sky-800: rgb(2.2, 90.75, 125.95);
  --color-sky-900: rgb(1.6, 66, 91.6);
  --color-sky-950: rgb(1, 41.25, 57.25);
  --color-sapphire: #209fb5;
  --color-sapphire-500: #209fb5;
  --color-sapphire-400: rgb(63.05, 171.3, 190.6);
  --color-sapphire-300: rgb(94.1, 183.6, 200.2);
  --color-sapphire-200: rgb(125.15, 195.9, 209.8);
  --color-sapphire-100: rgb(156.2, 208.2, 219.4);
  --color-sapphire-50: rgb(187.25, 220.5, 229);
  --color-sapphire-600: rgb(27.2, 135.15, 153.85);
  --color-sapphire-700: rgb(22.4, 111.3, 126.7);
  --color-sapphire-800: rgb(17.6, 87.45, 99.55);
  --color-sapphire-900: rgb(12.8, 63.6, 72.4);
  --color-sapphire-950: rgb(8, 39.75, 45.25);
  --color-blue: #1e66f5;
  --color-blue-500: #1e66f5;
  --color-blue-400: rgb(61.35, 122.85, 245);
  --color-blue-300: rgb(92.7, 143.7, 245);
  --color-blue-200: rgb(124.05, 164.55, 245);
  --color-blue-100: rgb(155.4, 185.4, 245);
  --color-blue-50: rgb(186.75, 206.25, 245);
  --color-blue-600: rgb(25.5, 86.7, 208.25);
  --color-blue-700: rgb(21, 71.4, 171.5);
  --color-blue-800: rgb(16.5, 56.1, 134.75);
  --color-blue-900: rgb(12, 40.8, 98);
  --color-blue-950: rgb(7.5, 25.5, 61.25);
  --color-lavender: #7287fd;
  --color-lavender-500: #7287fd;
  --color-lavender-400: rgb(132.75, 150.9, 251.8);
  --color-lavender-300: rgb(151.5, 166.8, 250.6);
  --color-lavender-200: rgb(170.25, 182.7, 249.4);
  --color-lavender-100: rgb(189, 198.6, 248.2);
  --color-lavender-50: rgb(207.75, 214.5, 247);
  --color-lavender-600: rgb(96.9, 114.75, 215.05);
  --color-lavender-700: rgb(79.8, 94.5, 177.1);
  --color-lavender-800: rgb(62.7, 74.25, 139.15);
  --color-lavender-900: rgb(45.6, 54, 101.2);
  --color-lavender-950: rgb(28.5, 33.75, 63.25);
  --color-text: #4c4f69;
  --color-subtext1: #5c5f77;
  --color-subtext0: #6c6f85;
  --color-overlay2: #7c7f93;
  --color-overlay1: #8c8fa1;
  --color-overlay0: #9ca0b0;
  --color-surface2: #acb0be;
  --color-surface1: #bcc0cc;
  --color-surface0: #ccd0da;
  --color-base: #eff1f5;
  --color-mantle: #e6e9ef;
  --color-crust: #dce0e8;
}

.frappe {
  --color-rosewater: #f2d5cf;
  --color-rosewater-500: #f2d5cf;
  --color-rosewater-400: rgb(243.95, 219.3, 214.2);
  --color-rosewater-300: rgb(245.9, 225.6, 221.4);
  --color-rosewater-200: rgb(247.85, 231.9, 228.6);
  --color-rosewater-100: rgb(249.8, 238.2, 235.8);
  --color-rosewater-50: rgb(251.75, 244.5, 243);
  --color-rosewater-600: rgb(212.9, 188.85, 186.45);
  --color-rosewater-700: rgb(183.8, 164.7, 165.9);
  --color-rosewater-800: rgb(154.7, 140.55, 145.35);
  --color-rosewater-900: rgb(125.6, 116.4, 124.8);
  --color-rosewater-950: rgb(96.5, 92.25, 104.25);
  --color-flamingo: #eebebe;
  --color-flamingo-500: #eebebe;
  --color-flamingo-400: rgb(240.55, 199.75, 199.75);
  --color-flamingo-300: rgb(243.1, 209.5, 209.5);
  --color-flamingo-200: rgb(245.65, 219.25, 219.25);
  --color-flamingo-100: rgb(248.2, 229, 229);
  --color-flamingo-50: rgb(250.75, 238.75, 238.75);
  --color-flamingo-600: rgb(209.5, 169.3, 172);
  --color-flamingo-700: rgb(181, 148.6, 154);
  --color-flamingo-800: rgb(152.5, 127.9, 136);
  --color-flamingo-900: rgb(124, 107.2, 118);
  --color-flamingo-950: rgb(95.5, 86.5, 100);
  --color-pink: #f4b8e4;
  --color-pink-500: #f4b8e4;
  --color-pink-400: rgb(245.65, 194.65, 232.05);
  --color-pink-300: rgb(247.3, 205.3, 236.1);
  --color-pink-200: rgb(248.95, 215.95, 240.15);
  --color-pink-100: rgb(250.6, 226.6, 244.2);
  --color-pink-50: rgb(252.25, 237.25, 248.25);
  --color-pink-600: rgb(214.6, 164.2, 204.3);
  --color-pink-700: rgb(185.2, 144.4, 180.6);
  --color-pink-800: rgb(155.8, 124.6, 156.9);
  --color-pink-900: rgb(126.4, 104.8, 133.2);
  --color-pink-950: rgb(97, 85, 109.5);
  --color-mauve: #ca9ee6;
  --color-mauve-500: #ca9ee6;
  --color-mauve-400: rgb(209.95, 172.55, 233.75);
  --color-mauve-300: rgb(217.9, 187.1, 237.5);
  --color-mauve-200: rgb(225.85, 201.65, 241.25);
  --color-mauve-100: rgb(233.8, 216.2, 245);
  --color-mauve-50: rgb(241.75, 230.75, 248.75);
  --color-mauve-600: rgb(178.9, 142.1, 206);
  --color-mauve-700: rgb(155.8, 126.2, 182);
  --color-mauve-800: rgb(132.7, 110.3, 158);
  --color-mauve-900: rgb(109.6, 94.4, 134);
  --color-mauve-950: rgb(86.5, 78.5, 110);
  --color-red: #e78284;
  --color-red-500: #e78284;
  --color-red-400: rgb(234.6, 148.75, 150.45);
  --color-red-300: rgb(238.2, 167.5, 168.9);
  --color-red-200: rgb(241.8, 186.25, 187.35);
  --color-red-100: rgb(245.4, 205, 205.8);
  --color-red-50: rgb(249, 223.75, 224.25);
  --color-red-600: rgb(203.55, 118.3, 122.7);
  --color-red-700: rgb(176.1, 106.6, 113.4);
  --color-red-800: rgb(148.65, 94.9, 104.1);
  --color-red-900: rgb(121.2, 83.2, 94.8);
  --color-red-950: rgb(93.75, 71.5, 85.5);
  --color-maroon: #ea999c;
  --color-maroon-500: #ea999c;
  --color-maroon-400: rgb(237.15, 168.3, 170.85);
  --color-maroon-300: rgb(240.3, 183.6, 185.7);
  --color-maroon-200: rgb(243.45, 198.9, 200.55);
  --color-maroon-100: rgb(246.6, 214.2, 215.4);
  --color-maroon-50: rgb(249.75, 229.5, 230.25);
  --color-maroon-600: rgb(206.1, 137.85, 143.1);
  --color-maroon-700: rgb(178.2, 122.7, 130.2);
  --color-maroon-800: rgb(150.3, 107.55, 117.3);
  --color-maroon-900: rgb(122.4, 92.4, 104.4);
  --color-maroon-950: rgb(94.5, 77.25, 91.5);
  --color-peach: #ef9f76;
  --color-peach-500: #ef9f76;
  --color-peach-400: rgb(241.4, 173.4, 138.55);
  --color-peach-300: rgb(243.8, 187.8, 159.1);
  --color-peach-200: rgb(246.2, 202.2, 179.65);
  --color-peach-100: rgb(248.6, 216.6, 200.2);
  --color-peach-50: rgb(251, 231, 220.75);
  --color-peach-600: rgb(210.35, 142.95, 110.8);
  --color-peach-700: rgb(181.7, 126.9, 103.6);
  --color-peach-800: rgb(153.05, 110.85, 96.4);
  --color-peach-900: rgb(124.4, 94.8, 89.2);
  --color-peach-950: rgb(95.75, 78.75, 82);
  --color-yellow: #e5c890;
  --color-yellow-500: #e5c890;
  --color-yellow-400: rgb(232.9, 208.25, 160.65);
  --color-yellow-300: rgb(236.8, 216.5, 177.3);
  --color-yellow-200: rgb(240.7, 224.75, 193.95);
  --color-yellow-100: rgb(244.6, 233, 210.6);
  --color-yellow-50: rgb(248.5, 241.25, 227.25);
  --color-yellow-600: rgb(201.85, 177.8, 132.9);
  --color-yellow-700: rgb(174.7, 155.6, 121.8);
  --color-yellow-800: rgb(147.55, 133.4, 110.7);
  --color-yellow-900: rgb(120.4, 111.2, 99.6);
  --color-yellow-950: rgb(93.25, 89, 88.5);
  --color-green: #a6d189;
  --color-green-500: #a6d189;
  --color-green-400: rgb(179.35, 215.9, 154.7);
  --color-green-300: rgb(192.7, 222.8, 172.4);
  --color-green-200: rgb(206.05, 229.7, 190.1);
  --color-green-100: rgb(219.4, 236.6, 207.8);
  --color-green-50: rgb(232.75, 243.5, 225.5);
  --color-green-600: rgb(148.3, 185.45, 126.95);
  --color-green-700: rgb(130.6, 161.9, 116.9);
  --color-green-800: rgb(112.9, 138.35, 106.85);
  --color-green-900: rgb(95.2, 114.8, 96.8);
  --color-green-950: rgb(77.5, 91.25, 86.75);
  --color-teal: #81c8be;
  --color-teal-500: #81c8be;
  --color-teal-400: rgb(147.9, 208.25, 199.75);
  --color-teal-300: rgb(166.8, 216.5, 209.5);
  --color-teal-200: rgb(185.7, 224.75, 219.25);
  --color-teal-100: rgb(204.6, 233, 229);
  --color-teal-50: rgb(223.5, 241.25, 238.75);
  --color-teal-600: rgb(116.85, 177.8, 172);
  --color-teal-700: rgb(104.7, 155.6, 154);
  --color-teal-800: rgb(92.55, 133.4, 136);
  --color-teal-900: rgb(80.4, 111.2, 118);
  --color-teal-950: rgb(68.25, 89, 100);
  --color-sky: #99d1db;
  --color-sky-500: #99d1db;
  --color-sky-400: rgb(168.3, 215.9, 224.4);
  --color-sky-300: rgb(183.6, 222.8, 229.8);
  --color-sky-200: rgb(198.9, 229.7, 235.2);
  --color-sky-100: rgb(214.2, 236.6, 240.6);
  --color-sky-50: rgb(229.5, 243.5, 246);
  --color-sky-600: rgb(137.25, 185.45, 196.65);
  --color-sky-700: rgb(121.5, 161.9, 174.3);
  --color-sky-800: rgb(105.75, 138.35, 151.95);
  --color-sky-900: rgb(90, 114.8, 129.6);
  --color-sky-950: rgb(74.25, 91.25, 107.25);
  --color-sapphire: #85c1dc;
  --color-sapphire-500: #85c1dc;
  --color-sapphire-400: rgb(151.3, 202.3, 225.25);
  --color-sapphire-300: rgb(169.6, 211.6, 230.5);
  --color-sapphire-200: rgb(187.9, 220.9, 235.75);
  --color-sapphire-100: rgb(206.2, 230.2, 241);
  --color-sapphire-50: rgb(224.5, 239.5, 246.25);
  --color-sapphire-600: rgb(120.25, 171.85, 197.5);
  --color-sapphire-700: rgb(107.5, 150.7, 175);
  --color-sapphire-800: rgb(94.75, 129.55, 152.5);
  --color-sapphire-900: rgb(82, 108.4, 130);
  --color-sapphire-950: rgb(69.25, 87.25, 107.5);
  --color-blue: #8caaee;
  --color-blue-500: #8caaee;
  --color-blue-400: rgb(157.25, 182.75, 240.55);
  --color-blue-300: rgb(174.5, 195.5, 243.1);
  --color-blue-200: rgb(191.75, 208.25, 245.65);
  --color-blue-100: rgb(209, 221, 248.2);
  --color-blue-50: rgb(226.25, 233.75, 250.75);
  --color-blue-600: rgb(126.2, 152.3, 212.8);
  --color-blue-700: rgb(112.4, 134.6, 187.6);
  --color-blue-800: rgb(98.6, 116.9, 162.4);
  --color-blue-900: rgb(84.8, 99.2, 137.2);
  --color-blue-950: rgb(71, 81.5, 112);
  --color-lavender: #babbf1;
  --color-lavender-500: #babbf1;
  --color-lavender-400: rgb(196.35, 197.2, 243.1);
  --color-lavender-300: rgb(206.7, 207.4, 245.2);
  --color-lavender-200: rgb(217.05, 217.6, 247.3);
  --color-lavender-100: rgb(227.4, 227.8, 249.4);
  --color-lavender-50: rgb(237.75, 238, 251.5);
  --color-lavender-600: rgb(165.3, 166.75, 215.35);
  --color-lavender-700: rgb(144.6, 146.5, 189.7);
  --color-lavender-800: rgb(123.9, 126.25, 164.05);
  --color-lavender-900: rgb(103.2, 106, 138.4);
  --color-lavender-950: rgb(82.5, 85.75, 112.75);
  --color-text: #c6d0f5;
  --color-subtext1: #b5bfe2;
  --color-subtext0: #a5adce;
  --color-overlay2: #949cbb;
  --color-overlay1: #838ba7;
  --color-overlay0: #737994;
  --color-surface2: #626880;
  --color-surface1: #51576d;
  --color-surface0: #414559;
  --color-base: #303446;
  --color-mantle: #292c3c;
  --color-crust: #232634;
}

.macchiato {
  --color-rosewater: #f4dbd6;
  --color-rosewater-500: #f4dbd6;
  --color-rosewater-400: rgb(245.65, 224.4, 220.15);
  --color-rosewater-300: rgb(247.3, 229.8, 226.3);
  --color-rosewater-200: rgb(248.95, 235.2, 232.45);
  --color-rosewater-100: rgb(250.6, 240.6, 238.6);
  --color-rosewater-50: rgb(252.25, 246, 244.75);
  --color-rosewater-600: rgb(212.8, 192, 190.6);
  --color-rosewater-700: rgb(181.6, 165, 167.2);
  --color-rosewater-800: rgb(150.4, 138, 143.8);
  --color-rosewater-900: rgb(119.2, 111, 120.4);
  --color-rosewater-950: #585461;
  --color-flamingo: #f0c6c6;
  --color-flamingo-500: #f0c6c6;
  --color-flamingo-400: rgb(242.25, 206.55, 206.55);
  --color-flamingo-300: rgb(244.5, 215.1, 215.1);
  --color-flamingo-200: rgb(246.75, 223.65, 223.65);
  --color-flamingo-100: rgb(249, 232.2, 232.2);
  --color-flamingo-50: rgb(251.25, 240.75, 240.75);
  --color-flamingo-600: rgb(209.4, 174.15, 177);
  --color-flamingo-700: rgb(178.8, 150.3, 156);
  --color-flamingo-800: rgb(148.2, 126.45, 135);
  --color-flamingo-900: rgb(117.6, 102.6, 114);
  --color-flamingo-950: rgb(87, 78.75, 93);
  --color-pink: #f5bde6;
  --color-pink-500: #f5bde6;
  --color-pink-400: rgb(246.5, 198.9, 233.75);
  --color-pink-300: rgb(248, 208.8, 237.5);
  --color-pink-200: rgb(249.5, 218.7, 241.25);
  --color-pink-100: rgb(251, 228.6, 245);
  --color-pink-50: rgb(252.5, 238.5, 248.75);
  --color-pink-600: rgb(213.65, 166.5, 204.2);
  --color-pink-700: rgb(182.3, 144, 178.4);
  --color-pink-800: rgb(150.95, 121.5, 152.6);
  --color-pink-900: rgb(119.6, 99, 126.8);
  --color-pink-950: rgb(88.25, 76.5, 101);
  --color-mauve: #c6a0f6;
  --color-mauve-500: #c6a0f6;
  --color-mauve-400: rgb(206.55, 174.25, 247.35);
  --color-mauve-300: rgb(215.1, 188.5, 248.7);
  --color-mauve-200: rgb(223.65, 202.75, 250.05);
  --color-mauve-100: rgb(232.2, 217, 251.4);
  --color-mauve-50: rgb(240.75, 231.25, 252.75);
  --color-mauve-600: rgb(173.7, 141.85, 217.8);
  --color-mauve-700: rgb(149.4, 123.7, 189.6);
  --color-mauve-800: rgb(125.1, 105.55, 161.4);
  --color-mauve-900: rgb(100.8, 87.4, 133.2);
  --color-mauve-950: rgb(76.5, 69.25, 105);
  --color-red: #ed8796;
  --color-red-500: #ed8796;
  --color-red-400: rgb(239.7, 153, 165.75);
  --color-red-300: rgb(242.4, 171, 181.5);
  --color-red-200: rgb(245.1, 189, 197.25);
  --color-red-100: rgb(247.8, 207, 213);
  --color-red-50: rgb(250.5, 225, 228.75);
  --color-red-600: rgb(206.85, 120.6, 136.2);
  --color-red-700: rgb(176.7, 106.2, 122.4);
  --color-red-800: rgb(146.55, 91.8, 108.6);
  --color-red-900: rgb(116.4, 77.4, 94.8);
  --color-red-950: rgb(86.25, 63, 81);
  --color-maroon: #ee99a0;
  --color-maroon-500: #ee99a0;
  --color-maroon-400: rgb(240.55, 168.3, 174.25);
  --color-maroon-300: rgb(243.1, 183.6, 188.5);
  --color-maroon-200: rgb(245.65, 198.9, 202.75);
  --color-maroon-100: rgb(248.2, 214.2, 217);
  --color-maroon-50: rgb(250.75, 229.5, 231.25);
  --color-maroon-600: rgb(207.7, 135.9, 144.7);
  --color-maroon-700: rgb(177.4, 118.8, 129.4);
  --color-maroon-800: rgb(147.1, 101.7, 114.1);
  --color-maroon-900: rgb(116.8, 84.6, 98.8);
  --color-maroon-950: rgb(86.5, 67.5, 83.5);
  --color-peach: #f5a97f;
  --color-peach-500: #f5a97f;
  --color-peach-400: rgb(246.5, 181.9, 146.2);
  --color-peach-300: rgb(248, 194.8, 165.4);
  --color-peach-200: rgb(249.5, 207.7, 184.6);
  --color-peach-100: rgb(251, 220.6, 203.8);
  --color-peach-50: rgb(252.5, 233.5, 223);
  --color-peach-600: rgb(213.65, 149.5, 116.65);
  --color-peach-700: rgb(182.3, 130, 106.3);
  --color-peach-800: rgb(150.95, 110.5, 95.95);
  --color-peach-900: rgb(119.6, 91, 85.6);
  --color-peach-950: rgb(88.25, 71.5, 75.25);
  --color-yellow: #eed49f;
  --color-yellow-500: #eed49f;
  --color-yellow-400: rgb(240.55, 218.45, 173.4);
  --color-yellow-300: rgb(243.1, 224.9, 187.8);
  --color-yellow-200: rgb(245.65, 231.35, 202.2);
  --color-yellow-100: rgb(248.2, 237.8, 216.6);
  --color-yellow-50: rgb(250.75, 244.25, 231);
  --color-yellow-600: rgb(207.7, 186.05, 143.85);
  --color-yellow-700: rgb(177.4, 160.1, 128.7);
  --color-yellow-800: rgb(147.1, 134.15, 113.55);
  --color-yellow-900: rgb(116.8, 108.2, 98.4);
  --color-yellow-950: rgb(86.5, 82.25, 83.25);
  --color-green: #a6da95;
  --color-green-500: #a6da95;
  --color-green-400: rgb(179.35, 223.55, 164.9);
  --color-green-300: rgb(192.7, 229.1, 180.8);
  --color-green-200: rgb(206.05, 234.65, 196.7);
  --color-green-100: rgb(219.4, 240.2, 212.6);
  --color-green-50: rgb(232.75, 245.75, 228.5);
  --color-green-600: rgb(146.5, 191.15, 135.35);
  --color-green-700: rgb(127, 164.3, 121.7);
  --color-green-800: rgb(107.5, 137.45, 108.05);
  --color-green-900: rgb(88, 110.6, 94.4);
  --color-green-950: rgb(68.5, 83.75, 80.75);
  --color-teal: #8bd5ca;
  --color-teal-500: #8bd5ca;
  --color-teal-400: rgb(156.4, 219.3, 209.95);
  --color-teal-300: rgb(173.8, 225.6, 217.9);
  --color-teal-200: rgb(191.2, 231.9, 225.85);
  --color-teal-100: rgb(208.6, 238.2, 233.8);
  --color-teal-50: rgb(226, 244.5, 241.75);
  --color-teal-600: rgb(123.55, 186.9, 180.4);
  --color-teal-700: rgb(108.1, 160.8, 158.8);
  --color-teal-800: rgb(92.65, 134.7, 137.2);
  --color-teal-900: rgb(77.2, 108.6, 115.6);
  --color-teal-950: rgb(61.75, 82.5, 94);
  --color-sky: #91d7e3;
  --color-sky-500: #91d7e3;
  --color-sky-400: rgb(161.5, 221, 231.2);
  --color-sky-300: rgb(178, 227, 235.4);
  --color-sky-200: rgb(194.5, 233, 239.6);
  --color-sky-100: rgb(211, 239, 243.8);
  --color-sky-50: rgb(227.5, 245, 248);
  --color-sky-600: rgb(128.65, 188.6, 201.65);
  --color-sky-700: rgb(112.3, 162.2, 176.3);
  --color-sky-800: rgb(95.95, 135.8, 150.95);
  --color-sky-900: rgb(79.6, 109.4, 125.6);
  --color-sky-950: rgb(63.25, 83, 100.25);
  --color-sapphire: #7dc4e4;
  --color-sapphire-500: #7dc4e4;
  --color-sapphire-400: rgb(144.5, 204.85, 232.05);
  --color-sapphire-300: rgb(164, 213.7, 236.1);
  --color-sapphire-200: rgb(183.5, 222.55, 240.15);
  --color-sapphire-100: rgb(203, 231.4, 244.2);
  --color-sapphire-50: rgb(222.5, 240.25, 248.25);
  --color-sapphire-600: rgb(111.65, 172.45, 202.5);
  --color-sapphire-700: rgb(98.3, 148.9, 177);
  --color-sapphire-800: rgb(84.95, 125.35, 151.5);
  --color-sapphire-900: rgb(71.6, 101.8, 126);
  --color-sapphire-950: rgb(58.25, 78.25, 100.5);
  --color-blue: #8aadf4;
  --color-blue-500: #8aadf4;
  --color-blue-400: rgb(155.55, 185.3, 245.65);
  --color-blue-300: rgb(173.1, 197.6, 247.3);
  --color-blue-200: rgb(190.65, 209.9, 248.95);
  --color-blue-100: rgb(208.2, 222.2, 250.6);
  --color-blue-50: rgb(225.75, 234.5, 252.25);
  --color-blue-600: rgb(122.7, 152.9, 216.1);
  --color-blue-700: rgb(107.4, 132.8, 188.2);
  --color-blue-800: rgb(92.1, 112.7, 160.3);
  --color-blue-900: rgb(76.8, 92.6, 132.4);
  --color-blue-950: rgb(61.5, 72.5, 104.5);
  --color-lavender: #b7bdf8;
  --color-lavender-500: #b7bdf8;
  --color-lavender-400: rgb(193.8, 198.9, 249.05);
  --color-lavender-300: rgb(204.6, 208.8, 250.1);
  --color-lavender-200: rgb(215.4, 218.7, 251.15);
  --color-lavender-100: rgb(226.2, 228.6, 252.2);
  --color-lavender-50: rgb(237, 238.5, 253.25);
  --color-lavender-600: rgb(160.95, 166.5, 219.5);
  --color-lavender-700: rgb(138.9, 144, 191);
  --color-lavender-800: rgb(116.85, 121.5, 162.5);
  --color-lavender-900: rgb(94.8, 99, 134);
  --color-lavender-950: rgb(72.75, 76.5, 105.5);
  --color-text: #cad3f5;
  --color-subtext1: #b8c0e0;
  --color-subtext0: #a5adcb;
  --color-overlay2: #939ab7;
  --color-overlay1: #8087a2;
  --color-overlay0: #6e738d;
  --color-surface2: #5b6078;
  --color-surface1: #494d64;
  --color-surface0: #363a4f;
  --color-base: #24273a;
  --color-mantle: #1e2030;
  --color-crust: #181926;
}

.mocha {
  --color-rosewater: #f5e0dc;
  --color-rosewater-500: #f5e0dc;
  --color-rosewater-400: rgb(246.5, 228.65, 225.25);
  --color-rosewater-300: rgb(248, 233.3, 230.5);
  --color-rosewater-200: rgb(249.5, 237.95, 235.75);
  --color-rosewater-100: rgb(251, 242.6, 241);
  --color-rosewater-50: rgb(252.5, 247.25, 246.25);
  --color-rosewater-600: rgb(212.75, 194.9, 193.9);
  --color-rosewater-700: rgb(180.5, 165.8, 167.8);
  --color-rosewater-800: rgb(148.25, 136.7, 141.7);
  --color-rosewater-900: rgb(116, 107.6, 115.6);
  --color-rosewater-950: rgb(83.75, 78.5, 89.5);
  --color-flamingo: #f2cdcd;
  --color-flamingo-500: #f2cdcd;
  --color-flamingo-400: rgb(243.95, 212.5, 212.5);
  --color-flamingo-300: rgb(245.9, 220, 220);
  --color-flamingo-200: rgb(247.85, 227.5, 227.5);
  --color-flamingo-100: rgb(249.8, 235, 235);
  --color-flamingo-50: rgb(251.75, 242.5, 242.5);
  --color-flamingo-600: rgb(210.2, 178.75, 181.15);
  --color-flamingo-700: rgb(178.4, 152.5, 157.3);
  --color-flamingo-800: rgb(146.6, 126.25, 133.45);
  --color-flamingo-900: rgb(114.8, 100, 109.6);
  --color-flamingo-950: rgb(83, 73.75, 85.75);
  --color-pink: #f5c2e7;
  --color-pink-500: #f5c2e7;
  --color-pink-400: rgb(246.5, 203.15, 234.6);
  --color-pink-300: rgb(248, 212.3, 238.2);
  --color-pink-200: rgb(249.5, 221.45, 241.8);
  --color-pink-100: rgb(251, 230.6, 245.4);
  --color-pink-50: rgb(252.5, 239.75, 249);
  --color-pink-600: rgb(212.75, 169.4, 203.25);
  --color-pink-700: rgb(180.5, 144.8, 175.5);
  --color-pink-800: rgb(148.25, 120.2, 147.75);
  --color-pink-900: rgb(116, 95.6, 120);
  --color-pink-950: rgb(83.75, 71, 92.25);
  --color-mauve: #cba6f7;
  --color-mauve-500: #cba6f7;
  --color-mauve-400: rgb(210.8, 179.35, 248.2);
  --color-mauve-300: rgb(218.6, 192.7, 249.4);
  --color-mauve-200: rgb(226.4, 206.05, 250.6);
  --color-mauve-100: rgb(234.2, 219.4, 251.8);
  --color-mauve-50: rgb(242, 232.75, 253);
  --color-mauve-600: rgb(177.05, 145.6, 216.85);
  --color-mauve-700: rgb(151.1, 125.2, 186.7);
  --color-mauve-800: rgb(125.15, 104.8, 156.55);
  --color-mauve-900: rgb(99.2, 84.4, 126.4);
  --color-mauve-950: rgb(73.25, 64, 96.25);
  --color-red: #f38ba8;
  --color-red-500: #f38ba8;
  --color-red-400: rgb(244.8, 156.4, 181.05);
  --color-red-300: rgb(246.6, 173.8, 194.1);
  --color-red-200: rgb(248.4, 191.2, 207.15);
  --color-red-100: rgb(250.2, 208.6, 220.2);
  --color-red-50: rgb(252, 226, 233.25);
  --color-red-600: rgb(211.05, 122.65, 149.7);
  --color-red-700: rgb(179.1, 106.3, 131.4);
  --color-red-800: rgb(147.15, 89.95, 113.1);
  --color-red-900: rgb(115.2, 73.6, 94.8);
  --color-red-950: rgb(83.25, 57.25, 76.5);
  --color-maroon: #eba0ac;
  --color-maroon-500: #eba0ac;
  --color-maroon-400: rgb(238, 174.25, 184.45);
  --color-maroon-300: rgb(241, 188.5, 196.9);
  --color-maroon-200: rgb(244, 202.75, 209.35);
  --color-maroon-100: rgb(247, 217, 221.8);
  --color-maroon-50: rgb(250, 231.25, 234.25);
  --color-maroon-600: rgb(204.25, 140.5, 153.1);
  --color-maroon-700: rgb(173.5, 121, 134.2);
  --color-maroon-800: rgb(142.75, 101.5, 115.3);
  --color-maroon-900: rgb(112, 82, 96.4);
  --color-maroon-950: rgb(81.25, 62.5, 77.5);
  --color-peach: #fab387;
  --color-peach-500: #fab387;
  --color-peach-400: rgb(250.75, 190.4, 153);
  --color-peach-300: rgb(251.5, 201.8, 171);
  --color-peach-200: rgb(252.25, 213.2, 189);
  --color-peach-100: rgb(253, 224.6, 207);
  --color-peach-50: rgb(253.75, 236, 225);
  --color-peach-600: rgb(217, 156.65, 121.65);
  --color-peach-700: rgb(184, 134.3, 108.3);
  --color-peach-800: rgb(151, 111.95, 94.95);
  --color-peach-900: rgb(118, 89.6, 81.6);
  --color-peach-950: rgb(85, 67.25, 68.25);
  --color-yellow: #f9e2af;
  --color-yellow-500: #f9e2af;
  --color-yellow-400: rgb(249.9, 230.35, 187);
  --color-yellow-300: rgb(250.8, 234.7, 199);
  --color-yellow-200: rgb(251.7, 239.05, 211);
  --color-yellow-100: rgb(252.6, 243.4, 223);
  --color-yellow-50: rgb(253.5, 247.75, 235);
  --color-yellow-600: rgb(216.15, 196.6, 155.65);
  --color-yellow-700: rgb(183.3, 167.2, 136.3);
  --color-yellow-800: rgb(150.45, 137.8, 116.95);
  --color-yellow-900: rgb(117.6, 108.4, 97.6);
  --color-yellow-950: rgb(84.75, 79, 78.25);
  --color-green: #a6e3a1;
  --color-green-500: #a6e3a1;
  --color-green-400: rgb(179.35, 231.2, 175.1);
  --color-green-300: rgb(192.7, 235.4, 189.2);
  --color-green-200: rgb(206.05, 239.6, 203.3);
  --color-green-100: rgb(219.4, 243.8, 217.4);
  --color-green-50: rgb(232.75, 248, 231.5);
  --color-green-600: rgb(145.6, 197.45, 143.75);
  --color-green-700: rgb(125.2, 167.9, 126.5);
  --color-green-800: rgb(104.8, 138.35, 109.25);
  --color-green-900: rgb(84.4, 108.8, 92);
  --color-green-950: rgb(64, 79.25, 74.75);
  --color-teal: #94e2d5;
  --color-teal-500: #94e2d5;
  --color-teal-400: rgb(164.05, 230.35, 219.3);
  --color-teal-300: rgb(180.1, 234.7, 225.6);
  --color-teal-200: rgb(196.15, 239.05, 231.9);
  --color-teal-100: rgb(212.2, 243.4, 238.2);
  --color-teal-50: rgb(228.25, 247.75, 244.5);
  --color-teal-600: rgb(130.3, 196.6, 187.95);
  --color-teal-700: rgb(112.6, 167.2, 162.9);
  --color-teal-800: rgb(94.9, 137.8, 137.85);
  --color-teal-900: rgb(77.2, 108.4, 112.8);
  --color-teal-950: rgb(59.5, 79, 87.75);
  --color-sky: #89dceb;
  --color-sky-500: #89dceb;
  --color-sky-400: rgb(154.7, 225.25, 238);
  --color-sky-300: rgb(172.4, 230.5, 241);
  --color-sky-200: rgb(190.1, 235.75, 244);
  --color-sky-100: rgb(207.8, 241, 247);
  --color-sky-50: rgb(225.5, 246.25, 250);
  --color-sky-600: rgb(120.95, 191.5, 206.65);
  --color-sky-700: rgb(104.9, 163, 178.3);
  --color-sky-800: rgb(88.85, 134.5, 149.95);
  --color-sky-900: rgb(72.8, 106, 121.6);
  --color-sky-950: rgb(56.75, 77.5, 93.25);
  --color-sapphire: #74c7ec;
  --color-sapphire-500: #74c7ec;
  --color-sapphire-400: rgb(136.85, 207.4, 238.85);
  --color-sapphire-300: rgb(157.7, 215.8, 241.7);
  --color-sapphire-200: rgb(178.55, 224.2, 244.55);
  --color-sapphire-100: rgb(199.4, 232.6, 247.4);
  --color-sapphire-50: rgb(220.25, 241, 250.25);
  --color-sapphire-600: rgb(103.1, 173.65, 207.5);
  --color-sapphire-700: rgb(90.2, 148.3, 179);
  --color-sapphire-800: rgb(77.3, 122.95, 150.5);
  --color-sapphire-900: rgb(64.4, 97.6, 122);
  --color-sapphire-950: rgb(51.5, 72.25, 93.5);
  --color-blue: #89b4fa;
  --color-blue-500: #89b4fa;
  --color-blue-400: rgb(154.7, 191.25, 250.75);
  --color-blue-300: rgb(172.4, 202.5, 251.5);
  --color-blue-200: rgb(190.1, 213.75, 252.25);
  --color-blue-100: rgb(207.8, 225, 253);
  --color-blue-50: rgb(225.5, 236.25, 253.75);
  --color-blue-600: rgb(120.95, 157.5, 219.4);
  --color-blue-700: rgb(104.9, 135, 188.8);
  --color-blue-800: rgb(88.85, 112.5, 158.2);
  --color-blue-900: rgb(72.8, 90, 127.6);
  --color-blue-950: rgb(56.75, 67.5, 97);
  --color-lavender: #b4befe;
  --color-lavender-500: #b4befe;
  --color-lavender-400: rgb(191.25, 199.75, 254.15);
  --color-lavender-300: rgb(202.5, 209.5, 254.3);
  --color-lavender-200: rgb(213.75, 219.25, 254.45);
  --color-lavender-100: rgb(225, 229, 254.6);
  --color-lavender-50: rgb(236.25, 238.75, 254.75);
  --color-lavender-600: rgb(157.5, 166, 222.8);
  --color-lavender-700: rgb(135, 142, 191.6);
  --color-lavender-800: rgb(112.5, 118, 160.4);
  --color-lavender-900: rgb(90, 94, 129.2);
  --color-lavender-950: rgb(67.5, 70, 98);
  --color-text: #cdd6f4;
  --color-subtext1: #bac2de;
  --color-subtext0: #a6adc8;
  --color-overlay2: #9399b2;
  --color-overlay1: #7f849c;
  --color-overlay0: #6c7086;
  --color-surface2: #585b70;
  --color-surface1: #45475a;
  --color-surface0: #313244;
  --color-base: #1e1e2e;
  --color-mantle: #181825;
  --color-crust: #11111b;
}
